<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicHJvdWoiLCJhIjoiY20zdGFsamhpMDV2bDJscHdlaDF5Zmp0bSJ9._PCZLy_edAJBAPVOs5PiSQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<string>YES</string>
	</dict>
</dict>
</plist>
